<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Environment Info -->
    <preference for="Serializator\PrometheusExporter\Api\EnvironmentInfoQueryInterface"
                type="Serializator\PrometheusExporter\Query\EnvironmentInfoQuery" />

    <preference for="Serializator\PrometheusExporter\Api\Data\EnvironmentInfoInterface"
                type="Serializator\PrometheusExporter\Model\EnvironmentInfo" />

    <!-- Cron Jobs -->
    <preference for="Serializator\PrometheusExporter\Api\CronJobQueryInterface"
                type="Serializator\PrometheusExporter\Query\CronJobQuery" />

    <preference for="Serializator\PrometheusExporter\Api\Data\CronJobInterface"
                type="Serializator\PrometheusExporter\Model\CronJob" />

    <!-- Orders -->
    <preference for="Serializator\PrometheusExporter\Api\Data\OrdersInterface"
                type="Serializator\PrometheusExporter\Model\Orders" />

    <preference for="Serializator\PrometheusExporter\Api\OrdersQueryInterface"
                type="Serializator\PrometheusExporter\Query\OrdersQuery" />

    <preference for="Serializator\PrometheusExporter\Api\Data\Orders\TotalInterface"
                type="Serializator\PrometheusExporter\Model\Orders\Total" />
</config>
