<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Environment Info -->
    <preference for="Serializator\PrometheusExporter\Api\Metrics\EnvironmentInfoQueryInterface"
                type="Serializator\PrometheusExporter\Query\Metrics\EnvironmentInfoQuery" />

    <preference for="Serializator\PrometheusExporter\Api\Data\Metrics\EnvironmentInfoInterface"
                type="Serializator\PrometheusExporter\Model\Metrics\EnvironmentInfo" />

    <!-- Cron Jobs -->
    <preference for="Serializator\PrometheusExporter\Api\Metrics\CronJobQueryInterface"
                type="Serializator\PrometheusExporter\Query\Metrics\CronJobQuery" />

    <preference for="Serializator\PrometheusExporter\Api\Data\Metrics\CronJobInterface"
                type="Serializator\PrometheusExporter\Model\Metrics\CronJob" />
</config>
